.products-section {
  width: 100%;
  display: flex;
  
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;

  width: 900px;  /* fixed width */
  height: 600px; /* fixed height */
  overflow-y: auto; /* allow scroll if content overflows */

  padding: 10px;
  background-color: #f0f8ff; /* optional, for visibility */
  border-radius: 12px;
}
